{% load static %}
{% load i18n %}
{% load base_tags %}
{% get_parent_categories as parent_categories %}
{% get_current_language as CURRENT_LANG %}
<div class="header-middle">
    <div class="container">
        <!-- Start Support-Client -->
        <div class="support-client hidden-xs">
            <div class="row">
                <!-- Start Single-Support -->
                <div class="col-md-3 hidden-sm">
                    <div class="single-support">
                        <div class="support-content">
                            <i class="fa fa-clock-o"></i>
                            <div class="support-text">
                                <h1 class="zero gfont-1">{% trans "work time" %}</h1>
                                <p>{% trans "timework" %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single-Support -->
                <!-- Start Single-Support -->
                <div class="col-md-3 col-sm-4">
                    <div class="single-support">
                        <i class="fa fa-truck"></i>
                        <div class="support-text">
                            <h1 class="zero gfont-1">{% trans "free ship" %}</h1>
                            <p>{% trans "freeship" %}</p>
                        </div>
                    </div>
                </div>
                <!-- End Single-Support -->
                <!-- Start Single-Support -->
                <div class="col-md-3 col-sm-4">
                    <div class="single-support">
                        <i class="fa fa-money"></i>
                        <div class="support-text">
                            <h1 class="zero gfont-1">{% trans "backmoney" %}</h1>
                            <p>{% trans "descrmoneyback" %}</p>
                        </div>
                    </div>
                </div>
                <!-- End Single-Support -->
                <!-- Start Single-Support -->
                <div class="col-md-3 col-sm-4">
                    <div class="single-support">
                        <i class="fa fa-phone-square"></i>
                        <div class="support-text">
                            <h1 class="zero gfont-1">{% trans "phone" %}</h1>
                            <p>{% trans "order" %}</p>
                        </div>
                    </div>
                </div>
                <!-- End Single-Support -->
            </div>
        </div>
        <!-- End Support-Client -->
        <!-- Start logo & Search Box -->
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="logo">
                    <a href="{% url 'main' %}" title="Malias"><img src="{% static 'techstore/img/logo.png' %}"
                                                                   alt="Malias"></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="quick-access">
                    <div class="search-by-category">
                        <div class="search-container">
                            <select>
                                <option class="all-cate">{% trans "categories all" %}</option>
                                {% if CURRENT_LANG == 'ru' %}
                                {% for category in parent_categories %}
                                <optgroup class="cate-item-head" label="{{ category.title_ru }}">
                                    {% get_children_categories category.slug as cat %}
                                    {% for c in cat %}
                                    <option class="cate-item-title">{{ c.title_ru }}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                                {% else %}
                                {% for category in parent_categories %}
                                <optgroup class="cate-item-head" label="{{ category.title_en }}">
                                    {% get_children_categories category.slug as cat %}
                                    {% for c in cat %}
                                    <option class="cate-item-title">{{ c.title_en }}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="header-search">
                            <form action="#">
                                <input type="text" placeholder="Search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="top-cart">
                        <ul>
                            <li>
                                <a href="cart.html">
                                    <span class="cart-icon"><i class="fa fa-shopping-cart"></i></span>
                                    <span class="cart-total">
			                    					<span class="cart-title">shopping cart</span>
				                    				<span class="cart-item">2 item(s)- </span>
				                    				<span class="top-cart-price">$365.00</span>
			                    				</span>
                                </a>
                                <div class="mini-cart-content">
                                    <div class="cart-img-details">
                                        <div class="cart-img-photo">
                                            <a href="#"><img src="img/product/total-cart.jpg" alt="#"></a>
                                        </div>
                                        <div class="cart-img-content">
                                            <a href="#"><h4>Prod Aldults</h4></a>
                                            <span>
															<strong class="text-right">1 x</strong>
															<strong class="cart-price text-right">$180.00</strong>
														</span>
                                        </div>
                                        <div class="pro-del">
                                            <a href="#"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="cart-img-details">
                                        <div class="cart-img-photo">
                                            <a href="#"><img src="img/product/total-cart2.jpg" alt="#"></a>
                                        </div>
                                        <div class="cart-img-content">
                                            <a href="#"><h4>Fact Prone</h4></a>
                                            <span>
															<strong class="text-right">1 x</strong>
															<strong class="cart-price text-right">$185.00</strong>
														</span>
                                        </div>
                                        <div class="pro-del">
                                            <a href="#"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                    <div class="cart-inner-bottom">
													<span class="total">
														Total:
														<span class="amount">$550.00</span>
													</span>
                                        <span class="cart-button-top">
														<a href="cart.html">View Cart</a>
														<a href="checkout.html">Checkout</a>
													</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End logo & Search Box -->
    </div>
</div>