{% load static %}

<script src="{% static 'techstore/js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'techstore/js/bootstrap.min.js' %}"></script>
<script src="{% static 'techstore/js/wow.min.js' %}"></script>
<script src="{% static 'techstore/js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'techstore/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'techstore/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'techstore/js/countdon.min.js' %}"></script>
<script src="{% static 'techstore/js/jquery-price-slider.js' %}"></script>
<script src="{% static 'techstore/js/jquery.nivo.slider.js' %}" type="text/javascript"></script>
<script src="{% static 'techstore/js/plugins.js' %}"></script>
<script src="{% static 'techstore/js/main.js' %}"></script>